/* GERAL */
body,
html,
div,
span,
a,
ul,
li,
dl,
dt,
dd,
section,
header,
p,
form,
fieldset,
button,
input {
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-decoration: none;
  outline: none;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure,
a,
img,
span,
:after,
:before {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal !important;
  margin: 0;
}
html object {
  display: none;
}
/*******************************
            GLOBAL
*******************************/
.f-arquitecta-normal {
  font-family: 'Arquitecta';
}
.f-arquitecta-bold {
  font-family: 'ArquitectaBold';
  font-weight: normal;
}
.f-arquitecta-black {
  font-family: 'ArquitectaBlack';
  font-weight: normal;
}
.f-aauxproot-regular {
  font-family: 'AauxProOTRegular';
}
.f-aauxproot-black {
  font-family: 'AauxProOTBlack';
  font-weight: normal;
}
.f-aauxproot-ultra {
  font-family: 'AauxProOTUltra';
  font-weight: normal;
}
.pseudo {
  content: '';
  width: 0;
  height: 100%;
}
.v-middle {
  vertical-align: middle;
  display: inline-block;
}
.v-top {
  vertical-align: top;
  display: inline-block;
}
.transit {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/*******************************
            MAIN
*******************************/
html,
body {
  height: 100%;
}
body {
  font-size: 100%;
}
body * {
  font-family: 'AauxProOTRegular';
}
main {
  width: 100%;
  padding-bottom: 0;
  background: #000d25;
  text-align: center;
}
main * {
  text-align: initial;
}
main:before {
  content: '';
  background: url('../images/bg_forms_site.jpg') top center;
  width: 100%;
  height: 710px;
  position: absolute;
}
main > nav {
  display: none;
}
main h1,
main footer h2 {
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
}
main h1 a,
main footer h2 a {
  border: 1px solid #fff;
  width: 288px;
  height: 288px;
  margin: 150px auto;
  text-align: center;
}
main h1 a:before {
  content: '';
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
main h1 a img {
  vertical-align: middle;
  display: inline-block;
  z-index: 2;
  position: relative;
}
main h1 a:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #336699;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: 1;
}
main div.carr_container {
  min-width: 862px;
  height: 540px;
  margin: 371px auto 0;
  position: relative;
  display: inline-block;
}
main div.carr_container dl dt {
  position: relative;
  z-index: 1;
}
main div.carr_container dl dd {
  position: absolute;
  z-index: 2;
  width: 288px;
  height: 288px;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 20px 30px;
}
main div.carr_container dl dd:before {
  content: '';
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
main div.carr_container dl dd p,
main div.prod_specifications dl dd p {
  position: relative;
  color: #fff;
  z-index: 3;
  display: block;
  font-size: 23px;
  vertical-align: middle;
  display: inline-block;
  width: 223px;
  line-height: 28px;
}
main div.carr_container dl dd p strong,
main div.prod_specifications dl dd p strong {
  font-size: 27px;
  font-family: 'AauxProOTUltra';
  font-weight: normal;
  text-transform: uppercase;
  display: block;
  padding-bottom: 10px;
}
main div.carr_container dl dd:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #002c4b;
  top: 0;
  left: 0;
  opacity: .5;
  z-index: 1;
}
main section {
  width: 862px;
  margin: 0 auto;
}
main section ul.highlights {
  padding: 14px 0;
  font-size: 0;
}
main section ul.highlights li {
  vertical-align: middle;
  display: inline-block;
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
  line-height: 22px;
  height: 93px;
}
main section ul.highlights li.h_a {
  background: #002c4b;
}
main section ul.highlights li.h_a:before {
  content: '';
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 58px;
  background: url('../images/icons/h_a_icon.gif') center center no-repeat;
  margin: 0 12px 0 6px;
}
main section ul.highlights li.h_a h2 {
  vertical-align: middle;
  display: inline-block;
  width: 67%;
}
main section ul.highlights li.h_b {
  background: #22404f;
}
main section ul.highlights li.h_b:before {
  content: '';
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 53px;
  background: url('../images/icons/h_b_icon.gif') center center no-repeat;
  margin: 0 12px 0 6px;
}
main section ul.highlights li.h_b h2 {
  vertical-align: middle;
  display: inline-block;
  width: 67%;
}
main section ul.highlights li.h_c {
  background: #343e4a;
}
main section ul.highlights li.h_c:before {
  content: '';
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 45px;
  background: url('../images/icons/h_c_icon.gif') center center no-repeat;
  margin: 0 12px 0 6px;
}
main section ul.highlights li.h_c h2 {
  vertical-align: middle;
  display: inline-block;
  width: 67%;
}
main section ul.highlights li h2 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'AauxProOTBlack';
  font-weight: normal;
}
main section ul.features {
  font-size: 0;
}
main section ul.features li {
  vertical-align: middle;
  display: inline-block;
  width: 33.33%;
  box-sizing: border-box;
  text-align: center;
  height: 582px;
}
main section ul.features li:before {
  content: '';
  width: 0;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}
main section ul.features li h2 {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  z-index: 3;
  margin: 0 30px;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  padding: 4px;
}
main section ul.features li h2 span {
  background: #000d25;
  font-size: 30px;
  font-family: 'AauxProOTUltra';
  font-weight: normal;
  color: #fff;
  display: inline;
  padding: 4px 8px;
}
main section ul.features li img {
  position: absolute;
  top: 0;
  left: 0;
}
main section > p {
  color: #fff;
  line-height: 28px;
  font-size: 23px;
  height: 115px;
  background: #213b56;
  margin: 14px 0;
  padding: 0 10px 0 50px;
}
main section > p:before {
  content: '';
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
main section > p span {
  vertical-align: middle;
  display: inline-block;
}
main div.prod_specifications {
  font-size: 0;
  margin: 0 -7px;
}
main div.prod_specifications dl {
  vertical-align: top;
  display: inline-block;
  margin: 0 7px 14px;
}
main div.prod_specifications dl._v {
  width: 278px;
}
main div.prod_specifications dl._v dt img {
  height: 278px;
}
main div.prod_specifications dl._b {
  width: 570px;
}
main div.prod_specifications dl._b dd {
  position: absolute;
  top: 0;
  margin-top: 0;
}
main div.prod_specifications dl._b.blue-C dd:after {
  background: #336699;
  opacity: .75;
}
main div.prod_specifications dl._t.blue-B dd:after {
  background: #002c4b;
}
main div.prod_specifications dl._t.blue-D dd:after {
  background: #213b56;
}
main div.prod_specifications dl._t p:before {
  background: url(../images/specifications/chevron-up.png) no-repeat center center;
  width: 23px;
  height: 16px;
}
main div.prod_specifications dl._r {
  width: 570px;
}
main div.prod_specifications dl._r.blue-C dd:after {
  background: #336699;
}
main div.prod_specifications dl._r > * {
  float: right;
  margin-top: 0;
}
main div.prod_specifications dl._r p:before {
  background: url(../images/specifications/chevron-right.png) no-repeat center center;
  height: 23px;
  width: 16px;
}
main div.prod_specifications dl._r dd {
  margin-right: 14px;
}
main div.prod_specifications dl._l {
  width: 570px;
  margin: -292px 299px 0;
}
main div.prod_specifications dl._l.blue-E dd:after {
  background: #343e4a;
}
main div.prod_specifications dl._l > * {
  float: left;
  margin-top: 0;
}
main div.prod_specifications dl._l p:before {
  background: url(../images/specifications/chevron-left.png) no-repeat center center;
  height: 23px;
  width: 16px;
}
main div.prod_specifications dl._l dd {
  margin-left: 14px;
}
main div.prod_specifications dl dt img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main div.prod_specifications dl dd {
  margin-top: 14px;
  width: 278px;
  height: 278px;
}
main div.prod_specifications dl dd:before {
  content: '';
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main div.prod_specifications dl dd p {
  margin-left: 26px;
  width: 250px;
  line-height: 26px;
  margin-top: -5px;
}
main div.prod_specifications dl dd p:before {
  content: '';
}
main div.prod_specifications dl dd p strong {
  padding-bottom: 5px;
}
main div.prod_specifications dl dd:after {
  content: '';
  position: absolute;
  background: #002c4b;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
main div.prod_specifications dl:hover dt img {
  opacity: .75;
}
main div.prod_specifications dl:hover dd:before {
  margin-bottom: 0;
}
main footer {
  width: 862px;
  margin: 146px auto 0;
  background: #002c4b;
  position: relative;
}
main footer h2 {
  top: -45px;
}
main footer h2 a {
  width: 190px;
  height: 190px;
  margin: 0 auto;
  border-color: #a3b3bf;
}
main footer h2 a:before {
  content: '';
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
main footer h2 a img {
  vertical-align: middle;
  display: inline-block;
  z-index: 2;
  position: relative;
  width: 160px;
}
main footer h2 a:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #336699;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: 1;
}
main footer .socials {
  padding: 130px 40px 0;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
  z-index: 3;
  position: relative;
}
main footer .socials a {
  background-color: #343e4a;
  display: inline-block;
  width: 43px;
  height: 43px;
  text-align: center;
  margin: 0 8px;
}
main footer .socials a p {
  text-indent: -9999em;
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
main footer .socials a i {
  color: #aeb095;
  font-size: 1.6em;
  vertical-align: middle;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
main footer .socials a:hover i {
  color: #fff;
}
main footer address {
  display: inline-block;
  padding: 25px 0 0 47px;
}
main footer address p {
  margin-bottom: 60px;
  min-width: 218px;
  font-size: 13px;
  font-family: 'Arquitecta';
  font-style: normal;
  line-height: 15px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  vertical-align: top;
}
main footer address p * {
  font-family: 'Arquitecta';
}
main footer address p strong {
  font-family: 'ArquitectaBlack';
  font-weight: normal;
}
main footer address p em {
  font-style: normal;
  padding-left: 31px;
}
main footer nav {
  display: inline-block;
  vertical-align: top;
  width: 18%;
  padding-top: 25px;
}
main footer nav a {
  display: table;
  font-family: 'ArquitectaBold';
  font-weight: normal;
  color: #336699;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 17px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  margin-bottom: 13px;
}
main footer nav a:hover {
  color: #FFF;
}
/*******************************
            GLOBAL
*******************************/
/*@import url(import.less);*/
